.clock-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.clock {
  width: 270px;
  height: 270px;
  border-radius: 50%;
  background-image: url("clock_images/clockBackground.png");
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /*content: "";
        height: 395px;
        width: 550px;
        background-color: #2a2f40;*/
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 calc(-0.05 * 270px) calc(0.05 * 270px) rgba(255, 255, 255, 0.05), inset 0 calc(-0.05 * 270px) calc(0.05 * 270px) rgba(255, 255, 255, 0.05), 0 calc(0.05 * 270px) calc(0.05 * 270px) rgba(0, 0, 0, 0.3), inset 0 calc(0.05 * 270px) calc(0.05 * 270px) rgba(0, 0, 0, 0.3);
          box-shadow: 0 calc(-0.05 * 270px) calc(0.05 * 270px) rgba(255, 255, 255, 0.05), inset 0 calc(-0.05 * 270px) calc(0.05 * 270px) rgba(255, 255, 255, 0.05), 0 calc(0.05 * 270px) calc(0.05 * 270px) rgba(0, 0, 0, 0.3), inset 0 calc(0.05 * 270px) calc(0.05 * 270px) rgba(0, 0, 0, 0.3);
}

/*align-items: center;
        background-color: #ff6d39;
        margin-left: 93px;*/
.clock::before {
  content: "";
  width: calc(0.05 * 270px);
  height: calc(0.05 * 270px);
  position: absolute;
  background-color: #fff;
  border-radius: 50%;
  z-index: 1000;
}

.hour,
.min,
.sec {
  position: absolute;
}

/*align-items: center;
        background-color: #ff6d39;
        margin-left: 93px;*/
.hr {
  width: calc((160 / 300) * 270px);
  height: calc((160 / 300) * 270px);
}

.mn {
  width: calc((190 / 300) * 270px);
  height: calc((190 / 300) * 270px);
}

.sc {
  width: calc((230 / 300) * 270px);
  height: calc((230 / 300) * 270px);
}

.hr,
.mn,
.sc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/*align-items: center;
        background-color: #ff6d39;
        margin-left: 93px;*/
.hr::before {
  content: "";
  width: calc((8 / 300) * 270px);
  height: calc((80 / 300) * 270px);
  background-color: #d4af37;
  z-index: 100;
  border-radius: calc((5 / 300) * 270px);
}

/*content: "";
        height: 395px;
        width: 550px;
        background-color: #2a2f40;*/
.mn::before {
  content: "";
  width: calc((6 / 300) * 270px);
  height: calc((90 / 300) * 270px);
  background-color: #e0c56e;
  z-index: 11;
  border-radius: calc((5 / 300) * 270px);
}

/*align-items: center;
        background-color: #ff6d39;
        margin-left: 93px;*/
.sc::before {
  content: "";
  width: calc((2 / 300) * 270px);
  height: calc((140 / 300) * 270px);
  background-color: white;
  z-index: 10;
  border-radius: calc((5 / 300) * 270px);
}
/*# sourceMappingURL=Clock.css.map */